section{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 750px;
    position: relative;
}

.fondo{
 background-image: url(../img/fondo2.jpg);   
 height: 500px;
 width: 750px;
    background-size: cover;
    display: flex;
    justify-content: center;
background-repeat: no-repeat;
align-items: center;

}

.mario img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 58%;
    left: 24%;
}

.castillo img{
    width: 250px;
    position: absolute;
    background-size: cover;
    top: 22%;
    left: 59%;
}

.nube img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 20%;
    right: 40%;
    
}

.nube2 img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 26%;
    right: 65%;
    
}

.moneda img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 57%;
    right: 54%;
    
}
.moneda2 img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 57%;
   
    
}

.score1{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #000;
    color: #000;
    position: absolute;
    top: 13%;
    right: 69%;
}



/* Animaciones hacer click */
    .saltar {
        animation: salto 0.6s ease forwards;
    }
    @keyframes salto{
        0%{transform: translateY(0px); opacity: 1;}
        50%{transform: translateY(-60px);}
        100%{transform: translateY(0px); opacity: 0;}
    }
    

    







/*animaciones movimineto nubes*/
.nubeff{
    animation: moverNube 4s linear infinite alternate;
}


@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

.nubef{
    animation: moverNube 5s linear infinite alternate;
}

@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

/*pantalla2 */
.pantalla2{
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 750px;
    position: relative;
}

.cr7 img{
     width: 120px;
    position: absolute;
    background-size: cover;
    top: 45%;
    left: 67%;
}

.mbape img{
    width: 120px;
    position: absolute;
    background-size: cover;
    top: 45%;
    left: 58%;
    z-index: 1;
}

.falcao img{
    width: 120px;
    position: absolute;
    background-size: cover;
    top: 45%;
    left: 27%;
    z-index: 1;
}
.arbitro img{
    width: 150px;
    position: absolute;
    background-size: cover;
    top: 30%;
    left: 43%;
}
.messi img{
    width: 120px;
    position: absolute;
    background-size: cover;
    top: 45%;
    left: 39%;
    z-index: 1;
}
.balon img{
    width: 55px;
    position: absolute;
    background-size: cover;
    top: 70%;
    left: 48%;
    
}
.score2{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #000;
    color: #000;
    position: absolute;
    top: 17%;
    right: 69%;
}

.arbitrof{
    animation: moverNube 4s linear infinite alternate;
}


@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

.balonf{
    animation: moverNube 5s linear infinite alternate;
}

@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

.saltar {
        animation: salto 0.6s ease forwards;
    }
    @keyframes salto{
        0%{transform: translateY(0px); opacity: 1;}
        50%{transform: translateY(-60px);}
        100%{transform: translateY(0px); opacity: 0;}
    }




/*pantalla3*/
.pantalla3{
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 750px;
    position: relative;
}

.pantalla3 img{
    width: 750px;
    height: 500px;

display: flex;
justify-content: center;
align-items: center;
}


.goku img{

    width: 90px;
    height: 120px;
    position: absolute;
    top: 65%;
    left: 30%;
}

.gokublack img{
  width: 90px;
    height: 140px;
    position: absolute;
    top: 65%;
    left: 40%;   
}
 .goku3 img{
     width: 90px;
    height: 120px;
    position: absolute;
    top: 65%;
    left: 55%;  
 }

 .gokublack2 img{
     width: 90px;
    height: 140px;
    position: absolute;
    top: 65%;
    left: 70%;  
 }
  .nubegoku img{
    width: 200px;
    height: 100px;
    position: absolute;
    background-size: cover;
    top: 20%;
    right: 40%;
  }
  
  .nubegoku1 img{
    width: 200px;
    height: 100px;
    position: absolute;
    background-size: cover;
    top: 50%;
    right: 10%;
  }

  .score3{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #000;
    color: #000;
    position: absolute;
    top: 17%;
    right: 69%;
}

.nubeokuf{
    animation: moverNube 4s linear infinite alternate;
}


@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

.nubegokuf{
    animation: moverNube 5s linear infinite alternate;
}

@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

.saltar {
        animation: salto 0.6s ease forwards;
    }
    @keyframes salto{
        0%{transform: translateY(0px); opacity: 1;}
        50%{transform: translateY(-60px);}
        100%{transform: translateY(0px); opacity: 0;}
    }
