section{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fondo{
 background-image: url(../img/fondo2.jpg);   
 height: 500px;
 width: 750px;
    background-size: cover;
    display: flex;
    justify-content: center;
background-repeat: no-repeat;
align-items: center;

}

.mario img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 380px;
    right: 970px;
}

.castillo img{
    width: 250px;
    position: absolute;
    background-size: cover;
    top: 150px;
    right: 300px;
}

.nube img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 100px;
    right: 600px;
    
}

.nube2 img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 100px;
    right: 900px;
    
}

.nube3 img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 170px;
    right: 770px;
    
}

.tunel img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 366px;
    right: 770px;
    
}

