section{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 750px;
    position: relative;
}

.fondo{
 background-image: url(../img/fondo2.jpg);   
 height: 500px;
 width: 750px;
    background-size: cover;
    display: flex;
    justify-content: center;
background-repeat: no-repeat;
align-items: center;

}

.mario img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 58%;
    left: 24%;
}

.castillo img{
    width: 250px;
    position: absolute;
    background-size: cover;
    top: 22%;
    left: 59%;
}

.nube img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 20%;
    right: 40%;
    
}

.nube2 img{
    width: 100px;
    position: absolute;
    background-size: cover;
    top: 26%;
    right: 65%;
    
}

.moneda img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 57%;
    right: 44%;
    
}
.moneda2 img{
    width: 70px;
    position: absolute;
    background-size: cover;
    top: 57%;
    right: 55%;
    
}



/* Animaciones hacer click */











/*animaciones movimineto nubes*/
.nubeff{
    animation: moverNube 4s linear infinite alternate;
}


@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}

.nubef{
    animation: moverNube 5s linear infinite alternate;
}

@keyframes moverNube{
    0%{left: 25%}
    100%{left: 60%;}
}
